.container{
    margin: 1rem auto;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    width: 8rem;
    height: 2rem;
    color: white;
    background-color: rgb(64, 64, 255);
    border: 0.2rem solid black;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgb(83, 83, 139) ;
}

.btn_disabled{
    width: 8rem;
    height: 2rem;
    color: white;
    background-color: rgb(85, 85, 117);
    border: 0.2rem solid black;
    border-radius: 1rem;
}

.btn:hover{
    box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem darkblue;
}

.btn:active{
    background-color: rgb(83, 83, 139);
}